.env
docker-compose_ORIGINAL.yml
docker-compose_DB.yml
README_CB.*
*.log
*access_log*
build-artifacts/artifacts/*
openncp-server/webapps/*.war
openncp-client/webapps/*.war
openncp-trc-sts/webapps/*.war
openncp-gateway-backend/webapps/*.war
openncp-gateway-frontend/openncp-gateway
openncp-openatna/webapps/*.war
openncp-configuration-utility/*.jar
ehealth-portal-backend/webapps/*.war
ehealth-portal-frontend/ehealth-portal
epsos-configuration/certs/*
openncp-tsam-sync/*.jar
openncp-tsam-exporter/*.jar

epsos-configuration/gateway